body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    padding: 3%;
    margin: 0;
    padding: 0;
    background-color: #ebebff;
    color: #a4a7ff;
}
header {
  font-family: helvetica, arial, sans-serif;
  position: sticky;
  left: 0;
    top: 0;
    width: 100%;
    display: block;
    height: auto;
    margin: auto;
    margin-top: -20px;
  }

  .cameraIndex{
    position: absolute;
    top: 6%;
    left: 90%;
  }
  /* .cameraButton{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  } */
.cameraButton 
{
background-color: #4CAF50; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
width: 100px;
height: 400px;
} 

  .camera{
    height: 10%;
    width: 60%;
  }

  .favouritesLogo {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 70px;
    width: 30%;
  }
  .vidEx {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .nextReward {
    display: block;
    margin-right: 0;
    width: 70px;
    height: 70px;
    width: 30%;
    position: relative;
  }
  .barPlace {
    display: block;
    margin-right: 0;
    width: 120px;
    width: 40%;
    position: relative;
  }
  .profileImg {
    display: block;
    margin-right: 0;
    width: 40px;
    width: 30%;
    position: relative;
  }
  .navBar{
    width:100%;
  }
  table{
    width: 100%;
    background-color: #D8CBDF;
  }
  .videos{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-top: 18%;
    margin-right: 5%;
  }

  .section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  h1{
    text-align: center;
    margin: 0;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  h3{
    text-align: center;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .tryButton{
    padding-left: auto;
    padding-right: auto;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .likeButton{
    display: block;
    margin-right: 0;
    width: 50px;
  }
  
  .imgcontainer {
    text-align: center;
    /*margin: 24px 0 12px 0;*/
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .center {
    text-align: center;
  }
  img {
    display: block;
    margin-right: 0;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

/* camera css */

html, body{
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
position: fixed;
height: 100%;
width: 100%;
object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
transform: scaleX(-1);
filter: FlipH;
}

#camera--trigger{
width: 200px;
background-color: rgb(255, 0, 0);
color: white;
font-size: 16px;
border-radius: 30px;
border: none;
padding: 15px 20px;
text-align: center;
box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
position: fixed;
bottom: 30px;
left: calc(50% - 100px);
}

#camera--quit{
  width: 200px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  position: fixed;
  top: 30px;
  left:30px;
  left: calc(50% - 100px);
}

.taken{
height: 100px!important;
width: 100px!important;
transition: all 0.5s ease-in;
border: solid 3px white;
box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
top: 20px;
right: 20px;
z-index: 2;
}

/* .captureIcon{
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
} */

.button1{
background-color: #a4a7ff;
}
