body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    padding: 3%;
    background-color: #D8CBDF;
    color: #683384;
  }
  header {
    font-family: helvetica, arial, sans-serif;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    height: auto;
    margin: auto;
    margin-top: -20px;
  }
  .logo {
    position: fixed;
    display: block;
    margin-left: 110px;
    bottom: 565px;
    width: 100px;
    height: 20%;

  }
  .favouritesLogo {
    display: block;
    margin-right: 0;
    width: 70px;
  }
  .vidEx {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .nextReward {
    display: block;
    margin-right: 0;
    width: 70px;
    height: 70px;
    position: relative;
  }
  .barPlace {
    display: block;
    margin-right: 0;
    width: 120px;
    position: relative;
  }
  .profileImg {
    display: block;
    margin-right: 0;
    width: 40px;
    position: relative;
  }
  .navBar{
    width:100%;
  }
  table{
    width: 100%;
    background-color: #D8CBDF;
  }
  .videos{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-top: 18%;
    margin-right: 5%;
  }

  .section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  h1{
    text-align: center;
    margin: 0;
  }
  h3{
    text-align: center;
  }
  .tryButton{
    padding-left: auto;
    padding-right: auto;
  }
  .likeButton{
    display: block;
    margin-right: 0;
    width: 50px;
  }
  .saveButton{
    display: block;
    margin-right: 0;
    width: 50px;
  }
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .center {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
}
.responsive {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.left {
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: 20%;
  background-color: #683384;
  padding: 3%;
}
.right {
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  margin-left: 20%;
  margin-right: auto;
  background-color: #683384;
  padding: 3%;
}
.btn{
  display: inline-block; 
  margin-right: 20px;
}

.ltext
{
  display: block;
  margin-left: 20px;
  margin-right: 20%;
}
.rtext {
  display: block;
  margin-left: 60%;
  margin-right: 20px;
}

.bottom
{
  position: fixed;
  display:block;
  top: 181px;
  left: 60px;
}

.b2
{
  position: relative;
  margin-top: 40px;
}

.l2
{
  position: relative;
  top: 20px;
  margin-left: 16px;
  display: inline-block;
}

.cen
{
  position: relative;
  top: 20px;
  display: inline-block;
  margin-left: 20px; 
}

.r2
{
  position: relative;
  top: 20px;
  display: inline-block;
  margin-left: 17px;

}

.subbutton
{
  position: fixed;
  top: 600px;
  left:100px;
  right: 5px;
  width: 60px;
  height: 40px;

}

.pickle
{
  position: fixed;
  left: 20px;
  top: 2px;

}