body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  background-color: #a4a7ff;
  color: #ffffff;
  margin: 0px;
  height: 90%;
}
.indexBody{
  background-color: transparent;
  margin-bottom: 100px;
}
.logoIndex{
  position: absolute;
  left: 57%;
  transform: translate(-50%, -50%);
  top: 6%;
}
header {
  font-family: helvetica, arial, sans-serif;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  height: 10%;
  margin-left: auto;
  background-color: transparent;
  margin-right: auto;
}
.logo{
  height: 10%;
  width: 60%;
}
.favouritesLogo {
  display: block;
  margin-right: 0;
  width: 70px;
}
.nextReward {
  display: block;
  margin-right: 0;
  width: 70px;
  height: 70px;
  position: relative;
}
.barPlace {
  display: block;
  margin-right: 50%;
  width: 120px;
  position: relative;
}
.profileImg {
  display: block;
  margin-right: 0;
  width: 40px;
  position: relative;
}
.navBar{
  width:100%;
}
table{
  width: 100%;
  background-color: #a5a8ff;
  color: #ffffff;
}
.videos{
  width: 100%;
}
.container{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.section{
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
h1{
  text-align: center;
  margin: 0;
}
h3{
  text-align: center;
}
.tryButton{
  margin-left: 25%;
  margin-right: 25%;
  border-color: transparent;
  background-color: transparent;
  font-size: 140%;
  color: #008a09;
}
.LSButton{
  background-color: transparent;
  border-color: transparent;
}
#likeButton{
  display: block;
  margin-right: 0;
  width: 50px;
}
#saveButton{
  display: block;
  margin-right: 0;
  width: 50px;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
}
.popup {
position: relative;
display: inline-block;
cursor: pointer;
padding: 5%;
border: 3px solid #00ff00;
border-radius: 10%; 
margin-left: 30%;
background-color: transparent;
}
.cancelButton{
position: relative;
display: inline-block;
cursor: pointer;
padding: 5%;
border: 3px solid #ff0000;
border-radius: 10%; 
margin-left: 10%;
background-color: transparent;
}
.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
padding: 8px 0;
}
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}
@-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity: 1;}
}
@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}
.signUpT{
padding-bottom: 10%;
padding-top: 10%;
}
tr{
padding: 5%;
color: #ffffff;
}
th, td {
padding-top: 3%;
color: #ffffff;
}
.clearButton{
position: relative;
display: inline-block;
cursor: pointer;
padding: 5%;
border: 3px solid hsl(52, 100%, 50%);
border-radius: 10%; 
margin-left: 10%;
background-color: transparent;
}
.centerW {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 20%;
margin-bottom: 20%;
}
.backButton{
border: transparent;
background-color: transparent;
margin-left: 40%;
margin-top: 10px;
}
.welcomeButtonsSI{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 5%;
margin-bottom: 5%;
border: transparent;
background-color: transparent;
font-size: 200%;
}
.welcomeButtonsSU{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 5%;
margin-bottom: 5%;
border: transparent;
background-color: transparent;
font-size: 180%;
}
.welcomeButtonsH{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: 5%;
margin-bottom: 20%;
border: transparent;
background-color: transparent;
font-size: 180%;
}
.footerWel{
border-top: 1px solid #ffffff;
margin: 0px 10px 0px 10px;
font-size: 0.8em;
text-align: center;
font-style: italic;
margin: auto;
position: fixed;
}
.PNumber{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.helpForm{
margin-right: 10%;
}
.signUpIntro{
margin: 5%;
}